{% extends 'web/base.html' %}
{% load static %}

{% block title %}
	<title>Community Guidelines - Winfinitube</title>
{% endblock %}

{% block css %}
	<link rel="stylesheet" type="text/x-scss" href="{% static 'web/scss/terms.scss' %}">
{% endblock %}

{% block body %}
	<div class="container">
		{% include 'web/includes/nav.html' %}
		<div class="body">
			<p><strong>Note: Subject to change soon</strong></p>

			<h2>Winfinitube Community Guidelines</h2>

			<h3>The Winfinitube rules</h3>
			<ul>
				<li>Please only upload to the site if you're 13 or older.</li>
				<li>Don’t spam.</li>
				<li>Uploading videos with sexual acts are not allowed on the website, at all. The same also counts for Animation.</li>
				<li>Don’t attempt to brute force.</li>
				<li>Do not share your login details with anyone else.</li>
				<li>Do not upload videos which are illegal.</li>
			</ul>
			
			<h3>Winfinitube and Guideline enforcement</h3>
			<p>
				Here at Winfinitube, we enforce our guidelines. We review flagged videos as quickly as we can so we can take down the video accordingly. The offending account will be disciplined for breaking the Community guidelines and serious or violations which are repeated can end up with the account being terminated from Winfinitube. Do not try to find loopholes or lawyer your way around the simple rules.
			</p>
		</div>
		{% include 'web/includes/footer.html' %}
	</div>
{% endblock %}
